*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    flex-wrap: nowrap;
    padding: 30px;
}

.right{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
}

.left_right ul{
    display: flex;
    gap: 15px;
}
.left_right ul li{
    list-style: none;
}

.left_right ul li a{
    text-decoration: none;
    color: black;
}

.right_right img{
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.section{
    margin: 13px 69px;
    width: 90%;
}


.section img{
    width: 1200px;
    height: 355px;
    border-radius: 26px;
    filter: blur(3);
}

.section_card{
    position: absolute;
    top: 12em;
    display: flex;
    flex-direction: column;
    left: 10em;
    z-index: 1000;
    gap: 2px;
}

.section_card .a{
   color: rgb(250, 124, 20);
    font-size: 14px;
}

.section_card .b{
    color: white;
     font-size: 20px;
 }

.section_card #i{
    color: #cecece;
    font-size: 12px;
}

.search{
    margin: 13px 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search input{
    width: 100%;
    padding: 4px;
}

.formcontrol{
    display: flex;
}

.formcontrol p{
    border: 1px solid black;
    padding: 2px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
}




.inbtn{
    display: flex;
    margin: 13px 70px;
    gap: 5px;
}

.btn1 button{
    padding: 20px;
    background-color: yellow;
    color: white;
}

.btn2 button{
    padding: 20px;
    background-color: rgb(169, 226, 35);
    color: white;
}
.btn3 button{
    padding: 20px;
    background-color: rgb(236, 181, 27);
    color: white;
}


main{
    margin: 13px 70px;
    display: flex;
    gap: 15px;
}

.filter_left{
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;
}

.filter{
    font-weight: 600;
}

.filter_right{
    padding: 5px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.filter_cls{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.fa_so{
    border: 1px solid black;
    background-color: green;
    color: white;
}

.fa_so_fa{
    background-color: white;
    border: 1px solid black;
}

.filter_right div img{
    width: 256px;
    height: 150px;
    border-radius: 16px;
    display: flex;
}

.filter_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res_cart{
    padding: 2px;
}



.img_cart{
    background-color: yellow;
}

footer{
    width: 100%;
    height: 80vh;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin-top: 15px;
    padding: 8px;
}


.first{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first, .second,.third,.fourth{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.first p{
    color: #5c5959;
}
.second p{
    color: #5c5959;
}
.third p{
    color: #5c5959;
}

.fourth p{
    color: #5c5959;
}

.fourth-card{
    margin-top: 10px;
    display: flex;
}

.fourth-card button{
    background-color: green;
    color: white;
}

#btn #cancel{
   position: absolute;
   
}